---
import Layout from '../../layouts/Layout.astro'; // Zorg dat dit pad klopt met jouw projectstructuur
import { fetchEntries } from '../../lib/contentful';

export async function getStaticPaths() {
  const entries = await fetchEntries('blogPost'); // Zorg dat dit het juiste contentmodel is

  return entries.map((entry) => ({
    params: { slug: entry.fields.slug }, // Zorg ervoor dat "slug" hier beschikbaar is
  }));
}


// Haal de slug uit de URL
const slug = Astro.params.slug;
const entries = await fetchEntries('blogPost');
const post = entries.find((entry) => entry.fields.slug === slug);

if (!post) {
  throw new Error('Post not found');
}

// Destructureer de velden voor gebruik in de template
const { gastspreker, titel, datum, tekst } = post.fields;
---

<Layout>
  <!-- <h1>We love web</h1> -->
  <a href="/">Terug naar overzicht</a>
  <article>
    <h2>{titel}</h2>
    <h3>Door {gastspreker}</h3>
    <p class="date">Datum: {datum}</p>
      <p>{tekst}</p>
  </article>
</Layout>

<style>
  h1 {
    text-transform: uppercase;
  }

  article {
    background-color: #121212;
    margin: 20px;
    padding: 20px;
    border-radius: 28px;
  }

  h2 {
    font-size: 28px;
    margin-bottom: 10px;
  }

  h3 {
    font-size: 16px;
  }

  .date {
    margin-bottom: 10px;
  }
</style>
